.weather-conditions-header {
  padding: 1rem 2rem;
  position: relative;
}

.weather-conditions-country {
  font-size: 1.4rem;
  padding-top: 0.5rem;
}

.weather-conditions-body {
  font-size: 1.4rem;
  margin-bottom: 2rem;
  padding: 0 2rem;
}

.weather-conditions-temperature {
  font-size: 3rem;
  margin-bottom: 1rem;
}
