.weather-card {
  @include weather-card;
}

.weather-card-remove {
  @include weather-card-btn;

  background-color: $card-cancel-bg;
  border-radius: 0 0 0.4rem 0.4rem;
  color: $fg-color;
  width: 100%;

  &:hover {
    background-color: $card-cancel-bg-hover;
  }
}
