$card-bg: $gray;

$card-input-bg: $gray-4;
$card-input-error: $orange;
$card-input-focus: $orange;

$card-submit-bg: $gray-c;
$card-submit-bg-hover: $gray-b;
$card-submit-fg: $gray-4;

$card-cancel-bg: $gray-6;
$card-cancel-bg-hover: $gray-5;
