<header class="header">
  <div class="wrapper">
    <h1>Weather Conditions</h1>
    <p>
      Add places from all over the world below to view their current weather
      conditions.
    </p>
  </div>
</header>
<main class="main">
  <div class="wrapper">
    {{weather-list}}
  </div>
</main>
<footer class="footer">
  <div class="wrapper">
    <p>Powered by:</p>
    <img class="footer-logo" src="images/open-weather-map.svg" alt="Open Weather Map">
  </div>
</footer>
